<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>verif</servlet-name>
        <servlet-class>servlet.verif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletListerClientStatut</servlet-name>
        <servlet-class>servlet.ServletListerClientStatut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifier</servlet-name>
        <servlet-class>servlet.modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModifProfilBase</servlet-name>
        <servlet-class>servlet.ServletModifProfilBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletmdp</servlet-name>
        <servlet-class>servlet.servletmdp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupClient</servlet-name>
        <servlet-class>servlet.ServletSupClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListerTypeS</servlet-name>
        <servlet-class>servlet.ServletListerTypeS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListeExo</servlet-name>
        <servlet-class>servlet.ServletListeExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInfoExo</servlet-name>
        <servlet-class>servlet.ServletInfoExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreateSeance</servlet-name>
        <servlet-class>servlet.ServletCreateSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListerSeance</servlet-name>
        <servlet-class>servlet.ServletListerSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVisuelSeance</servlet-name>
        <servlet-class>servlet.ServletVisuelSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreaEx</servlet-name>
        <servlet-class>servlet.ServletCreaEx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreerProgramme</servlet-name>
        <servlet-class>servlet.ServletCreerProgramme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreerProgramme2</servlet-name>
        <servlet-class>servlet.ServletCreerProgramme2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutSeance</servlet-name>
        <servlet-class>servlet.ajoutSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAffProgramme</servlet-name>
        <servlet-class>servlet.servletAffProgramme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfilSportif</servlet-name>
        <servlet-class>servlet.ServletProfilSportif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouterPro</servlet-name>
        <servlet-class>servlet.ajouterPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouterTS</servlet-name>
        <servlet-class>servlet.ajouterTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAffExercice</servlet-name>
        <servlet-class>servlet.servletAffExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVisuelSeance2</servlet-name>
        <servlet-class>servlet.ServletVisuelSeance2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verif</servlet-name>
        <url-pattern>/verif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListerClientStatut</servlet-name>
        <url-pattern>/ServletListerClientStatut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifier</servlet-name>
        <url-pattern>/modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModifProfilBase</servlet-name>
        <url-pattern>/ServletModifProfilBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletmdp</servlet-name>
        <url-pattern>/servletmdp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupClient</servlet-name>
        <url-pattern>/ServletSupClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListerTypeS</servlet-name>
        <url-pattern>/ServletListerTypeS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeExo</servlet-name>
        <url-pattern>/ServletListeExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInfoExo</servlet-name>
        <url-pattern>/ServletInfoExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreateSeance</servlet-name>
        <url-pattern>/ServletCreateSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListerSeance</servlet-name>
        <url-pattern>/ServletListerSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVisuelSeance</servlet-name>
        <url-pattern>/ServletVisuelSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreerProgramme</servlet-name>
        <url-pattern>/ServletCreerProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreaEx</servlet-name>
        <url-pattern>/ServletCreaEx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreerProgramme2</servlet-name>
        <url-pattern>/ServletCreerProgramme2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutSeance</servlet-name>
        <url-pattern>/ajoutSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAffProgramme</servlet-name>
        <url-pattern>/servletAffProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfilSportif</servlet-name>
        <url-pattern>/ServletProfilSportif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouterPro</servlet-name>
        <url-pattern>/ajouterPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouterTS</servlet-name>
        <url-pattern>/ajouterTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAffExercice</servlet-name>
        <url-pattern>/servletAffExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVisuelSeance2</servlet-name>
        <url-pattern>/ServletVisuelSeance2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
